<h1> Edit Your Task </h1>
<%= form_for @task do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task %>

  <%= f.label :priority %>
  <%= f.text_field :priority %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <%= f.submit %>
<% end %>